body {
    color: rgb(54, 102, 74);
}

strong {
    color:#000;

    font-size: 1.8em;
}

p {
    color: rgb(163, 13, 13); 
    font-size: 24px;
    font-family: "futura";
} 

li {
    border-style: dotted;
    border-top-style: double;
    padding: 9px;
    margin: 10px;
}

.listMargin{
margin-bottom: 50px;
}

li.listMargin{
    color: darkblue
}

h3.listMargin{
    color: magenta
}